@import "tailwindcss";
/* @layer theme, base, primereact, components, utilities; 
@import 'primereact/resources/themes/lara-light-green/theme.css' layer(primereact);
@import 'primereact/resources/primereact.min.css' layer(primereact);

@import "tailwindcss/theme.css" layer(theme); 
@import "tailwindcss/preflight.css" layer(base); 
@import "tailwindcss/utilities.css" layer(utilities);
 */


:root {
  --background: #ffffff;
  --foreground: #362727;

  --light-purple: #dfdcf6;
  --light-green: #cdffcf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
